body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
}

.button {
  color: brown;
  width: 100px;
  height: 50px;
}
.button ::after {
  color: black;
}

.rm {
  background: red;
  border-radius: 50%;
  color:#fff;
  border: none;
}

.done {
  text-decoration: line-through;
}

._form {
  margin: 10px;
  border: 20px;
  border-color: black;
}

._input {
  background-color: rgb(118, 233, 124);
  
}

._button {
  border-radius: 10%;
  margin: 10px;
}
